@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

body {
  font-family: "Onest", sans-serif;
  background: linear-gradient(to bottom right, #00811F, #b9eb34);
  /* Hide Google Translate top bar push */
  top: 0 !important;
}

/* Hide Google Translate UI elements */
.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

.goog-te-gadget-icon {
  display: none !important;
}

#google_translate_element {
  display: none !important;
}

.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}

font {
  background-color: transparent !important;
  box-shadow: none !important;
}